# dependencies
node_modules/

# Yarn Berry
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Expo / React Native
.expo/
.expo-shared/
web-build/
dist/
eas.json

# Expo generated
expo-env.d.ts

# Build / debug
npm-debug.*
*.orig.*

# Environment variables
.env
.env.*
*.env.local

# Secrets / credentials
credentials.json
secret.txt

# Firebase
GoogleService-Info.plist
google-services.json

# Android / iOS native projects
android/
ios/
eas/

# Signing keys / certificates
*.jks
*.p8
*.p12
*.p*
